@import '../../style/colors.scss';

.dim {
    box-sizing: border-box;
    width: 50vw;
    height: 50vw;
    max-width: 600px;
    max-height: 600px;

    position: relative;
    margin: 2rem 0;
    user-select: none;
    overflow: hidden;

    @media (max-width:480px) {
        width: 90vw;
        height: 90vw;
    }
}
.dim-from,
.dim-to,
.dim-level {
    position: absolute;
    border: 0px solid $ui-bright;
}

.dim-from,
.dim-to {
    top: 50%;
    transform: translateY(-50%);
    height: calc(100% - 8rem);
    width: 4rem;
}

.dim-from {
    border-right-width: 1px;
    left: 0;
}

.dim-to {
    border-left-width: 1px;
    right: 0;
}

.dim-level {
    --dimLevelGradientAngle: 0deg;
    border-top-width: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 8rem);
    height: 4rem;
    bottom: 0;
    background-image: linear-gradient(var(--dimLevelGradientAngle), transparent 0%, $ui-bright 100%);
}

.dim-numeric {

    position: absolute;
    width: calc(100% - 9rem);
    height: calc(100% - 9rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 35%;
    grid-template-columns: 35% 35%;
    grid-column-gap: 20px;

    input, span {
        color: $ui-bright;
        font-family: monospace;
        opacity: .6;
        font-size: 4em;

        @media (max-width:480px) {
            font-size: 2.8em;
        }
    }

    input {
        background-color: $dark-bg;
        border: 1px solid $ui-bright;
        border-left: none;
        border-right: none;
        border-radius: 0;
        padding: 0.5rem;
        text-align: center;

        &:first-child {
            padding-right: 0;
        }
        &:last-child {
            padding-left: 0;
        }

        &:focus {
            opacity: 1;
            outline: none;
        }
    }

    span {
        position: absolute;
        text-align: center;
        display: block;
        font-family: sans-serif;
        text-transform: uppercase;
        height: 4%;
        line-height: 1em;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: .7em;
    }
}